.notification{
    width: 65%;
    margin: auto;
    position: relative;
}

.notification-wrapper{
    padding: 5% 0;
}



.notification img{
    margin-right:5px ;
}

.notification button{
    margin: 6px 0;
}