.profile{ 
    text-align: center;
    margin: 4% 0;
}


.profile-view{
    width: 50%;
    border-right: 2px solid rgb(133, 133, 133);
}

.post-details{
    width: 50%;
}

.bg-purple{
    background-color: rgb(24, 157, 197);
    width: 100%;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius:5px ;
}

.feed-profile{
    position: relative;
    padding: 20% 2% 5%;
}

.feed-profile-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}