/* mid section */

.post-person-img{
    width: 40px;
    border-radius: 50%;
}

.person-info{
    display: flex;
    font-size: small;
}

.post-info{
    padding: 0 5px;
}

/* post view */

.post-img{
    width: 100%;
    margin: 1% 0;
    max-height: 500px;
    border-radius:5px
}

.like{
  background: rgb(4, 58, 206);
  color: #fff;
}

.like-info span{
    margin-right: 10px;
    margin-left: 3px;
}

.dislike{
    background: rgb(179, 34, 15);
    color: #fff;
  }

.comment{
    background-color: rgb(66, 66, 66);
    color: #fff;
}