.parallax{
    background-image: url("../../assests/parallax-bg.jpg");
    
    /* Set a specific height */
    min-height: 90vh;

   
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.label {
    color: white;
    padding: 8px;
  }

  .info {background-color: #2196F3;} 