.view-profile{
    background-color: #fff;
    border-radius:5px;
    position: relative;
    margin: 2%;
    text-align: left;
}

.profile-details{
    padding: 2%;
}

/* cover pic */

.cover-pic{
    background: url('../../../assests/cover-pic.jpg') no-repeat center center/cover;
    width: 100%;
    height: 300px;
    z-index: -1;
    border-radius: 5px;
}


/* pic */

.profile-pic{
    position: absolute;
    top: 200px;
    z-index: 1;
}

.profile-pic img{
    width: 200px;
    max-height:200px ;
    height: 100%;
    border-radius: 5px;
    margin-bottom: 2%;
}

/* .profile-pic i{} */

.add-img-icon{
    background: #fff;
    color: rgb(20, 114, 238);
    padding: 12px;
    border: 1px solid rgb(20, 114, 238) ;
    border-radius: 50%;
    position: absolute;
    top:75%;
    left: 85%;
}

.profile-info{
    margin-top: 100px;
    padding: 0 1%;
    width: 75%;
}

.profile-info span{
    padding-right: 1%;
}

/* button */

.btn-lg{
    font-size: medium;
    margin: 4% 0;
    margin-right: 1.5%;
}




/* form */


.edit-profile{
    margin-top: 5%;
}

.edit-profile label,
.edit-profile input,
.edit-profile select{
    width: 45%;
    margin:4px 0;
    margin-right: 4%;
}

.edit-profile input,
.edit-profile select{
    margin-bottom: 3%;
    padding: 1.5%;
    border-radius: 5px;
    border: 1px solid lightgray;
}

#State-id,
 #zip-id{
    width: 18%;
}

#State,
 #zip{
    width: 18%;
}